<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <div class="accent accent-top"></div>
    <div class="accent accent-bottom"></div>

    <div class="main-content">
      <div class="logo-wrapper">
        <img src="assets/images/logoBooksMatch.png" alt="Logo" class="app-logo">
      </div>

      <div class="header-section">
        <h1 class="serif-text italic title">Booksmatch</h1>
        <p class="brand-tagline">❤️</p>
      </div>

      <div class="text-section">
        <h2 class="serif-text headline">Encuentra tu próxima gran historia.</h2>
        <p class="description">Conecta con libros que realmente resuenan contigo.
        </p>
      </div>

      <div class="button-group">
        <ion-button expand="block" mode="ios" class="btn-primary" routerLink="/register">
          Registrarse
        </ion-button>
        <ion-button expand="block" fill="clear" mode="ios" class="btn-secondary" routerLink="/login">
          Iniciar Sesión
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
